<h1 class="price head">
    The <strong>Stratis</strong> price in real time.
</h1>
<div class="price block">
    <h3 class="price text-muted"></h3>
    <h1 class="price"> <span class="price text-muted"><span class="editable">1 STRAT</span> =</span><span id="stratis-price">@ViewBag.Price</span></h1>
    <h2 class="price"><span id="percent-change" class="@ViewBag.PercentChangeColor">@ViewBag.PercentChange%</span><sup>24H Change</sup></h2>
</div>